name: Unit Test and Update Google Sheet

on:
    push:
      branches: [ submission ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js environment
      uses: actions/setup-node@v2.4.0
      with:
        node-version: '14.x'

    - name: Install dependencies
      run: |
        npm install google-spreadsheet moment-timezone
        npm install http cheerio
        npm install jsdom mocha

    - name: Test project
      run: ./.github/tests/test.js
    
    - name: Update Google Sheet
      if: success()
      env:
        GOOGLE_SHEETS_EMAIL: ${{ secrets.GOOGLE_SHEETS_EMAIL }}
        GOOGLE_SHEETS_PRIVATE_KEY: ${{ secrets.GOOGLE_SHEETS_PRIVATE_KEY }}
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_EMAIL: ${{ github.event.head_commit.author.email }}
        TEST_CASES_PASSED: ${{ env.TEST_CASES_PASSED }}
      run: |
        echo pwd
        node -e "console.log(process.env.TEST_CASES_PASSED)"
        node ./.github/workflows/update-sheet.js
